<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Nanifarfalla©</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />

</head>

<body>

	<div class="container">

		<h1>Hello, user!</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Telephone</th>
						<th>City</th>
						<th>Actions</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="contact : ${contacts}">
						<td th:text="${contact.nombre_usuario}"></td>
						<td th:text="${contact.apellido_usuario}"></td>
						<td th:text="${contact.fecha_nacimiento}"></td>
						<td th:text="${contact.direccion_usuario}"></td>
						<td th:text="${contact.nombre_logeo_usuario}"></td>
						<td th:text="${contact.password_usuario}"></td>
						<td th:text="${contact.ruta_foto_usuario}"></td>
						<td th:text="${contact.claveApi}"></td>
						<td>
						
						<a href="#"
							th:href="@{/contacts/contactform?id=__${contact.codigo_usuario}__}">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
						</a>
						 <a href="#"
							th:href="@{/contacts/removecontact?id=__${contact.codigo_usuario}__}">
								<button type="button" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
						</a></td>
					</tr>

				</tbody>
			</table>
		</div>

		<div th:if="${result == 1}" class="alert alert-success" role="alert">Added
			Succesfully!</div>
		<div th:if="${result == 0}" class="alert alert-danger" role="alert">Error
			adding Contact!</div>
		<a href="#" th:href="@{/contacts/contactform?id=0}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Add contact
			</button>
		</a> <a href="#" th:href="@{/login?logout}">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Logout
			</button>
		</a>
	</div>


</body>
</html>